:root[data-theme="light"] {
    color-scheme: light;
}

:root[data-theme="dark"] {
    color-scheme: dark;
}

.color-scheme-toggle {
    padding: 0.25rem 0.75rem;
    background: transparent;
    color: var(--accent);
    cursor: pointer;
    z-index: 5;
    display: flex;
    align-items: center;
    small { font-size: .5em }
}