@font-face {
	font-family: belerenb;
	src: url('./fonts/beleren-b.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: belerenbsc;
	src: url('./fonts/beleren-bsc.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: mplantin;
	src: url('./fonts/mplantin.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: mplantini;
	src: url('./fonts/mplantin-i.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: matrixb;
	src: url('./fonts/matrix-b.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: matrixbsc;
	src: url('./fonts/matrix-bsc.ttf') format('truetype');
	font-display: swap;
}
