body {
    font-family: 'Inconsolata', monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#cards-result,
.printing-settings {
    width: calc(100vw - var(--page-gutter) - var(--page-gutter));
    margin-inline: calc(50% - 50vw + var(--page-gutter));
}

.printing-settings {
    position: sticky;
    z-index: 4;
    top: 0;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
    background-color: var(--background);

    details {
        width: 100%;

        summary { width: 100%; }

        .wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-top: 0.5rem;
        }

        input[type="checkbox"] {
            margin-right: 0.5rem;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .hourglass { animation: none; }
}
